@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Luckiest+Guy&family=Mr+Dafoe&family=Yatra+One&display=swap');

/*font-family: 'Alex Brush', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Mr Dafoe', cursive;
font-family: 'Yatra One', cursive;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* -----------   Trabajamos con el Header --------*/
.navbar{
    background-color: dodgerblue ;
}

.r1{
    color: orange;
    text-shadow: 2px 2px 4px black;
}

.navbar-toggler i{
    color: black;
    padding-left: 10px !important;
}
.nav-link:hover{
    background-color: #333;
}

/* ----------------- Trabajamos con Jumbotrom Agregando una imagen -------- */
.jumbo{
    background-image: url(../multimedia/bocha.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: red;
    text-shadow: 2.1px 2.1px 4px #fff;
}
h1, p{
    text-align: right;
    margin: 25px; 
}
/* ------------  Finalizamos con Jumbotrom ------------ */


/*  --------- trabajamos con section y colocamos una imagen ------ */
h2{
    text-align: center;
    background-color: dodgerblue;
    color: orange;
    text-shadow: 2px 2px 4px black;
    padding: 15px;
    margin-bottom: 0;
    text-decoration: underline;
}


.izq{
    background-image: url(../multimedia/portada-home.jpg);
    margin-top: 58px;
    background-size: cover;
    background-position: center;
    height: 550px;
    
}
.der{
    padding: 50px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: #fff;
}
.der h3{
    text-decoration: underline;
    text-shadow: 1px 1px 4px springgreen;
    color: orange;
}
.der p{
    font-family: 'Luckiest Guy', cursive;
    text-align: left;
}

/* ----------- trabajamos con galeria usando grid ------*/
.r2{
    background-color: black;
    text-shadow: 1px 1px 3px #fff;
    text-decoration: underline;
}

.galeria{
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 20px;
}
.item{
    border: 3px solid black;
    background-size: cover;
    background-position: center;
}
.item1{
    background-image: url(../multimedia/galeria01.jpg);
}
.item2{
    background-image: url(../multimedia/galeria03.jpg);
}
.item3{
    background-image: url(../multimedia/galeria02.jpg);
}
.item4{
    background-image: url(../multimedia/galeria05.jpg);
}
.item5{
    background-image: url(../multimedia/galeria04.jpg);
}
.item6{
    background-image: url(../multimedia/galeria07.jpg);
}
.item7{
    background-image: url(../multimedia/galeria06.jpg);
}
.item8{
    background-image: url(../multimedia/galeria08.jpg);
}

/* ----- Trabajamos con la media queries ---------*/
@media only screen and  (min-width:480px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}
@media only screen and (min-width:768px) and (max-width:1024){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item1{
        grid-column:1/3 ;
        grid-row: 1/2;
    }
    .item2{
        grid-column:3/4 ;
        grid-row: 1/2;
    }
    .item3{
        grid-column:1/2;
        grid-row:2/4 ;
    }
    .item4{
        grid-column:2/3 ;
        grid-row:2/3 ;
    }
    .item5{
        grid-column:3/4;
        grid-row: 2/3;
    }
    .item6{
        grid-column: 2/3;
        grid-row:3/3;
    }
    .item7{
        grid-column:3/4 ;
        grid-row:3/4 ;
    }
    .item8{
        grid-column:1/4 ;
        grid-row: 4/4;
    }
}

@media only screen and (min-width:1025px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
    }
}

/* ---trabajamos con el h2 y un color de fondo entre el video y el mapa*/

.youtube{
    text-align: center;
    background-color: black;
    color: fuchsia;
    text-shadow: 2px 2px 4px red;
    padding: 15px;
    margin-bottom: 0;
    text-decoration: underline;
}
.container-tutorial{
    background-color: #333;
}


/* ----- table  -----*/ 
.table-responsive{
    background-color: #333;
}

/* ----  Trabajamos con el footer -----*/
footer{
    background-color: black;
}

footer p{
    text-align: center;
    color: dodgerblue;
    font-size: 20px;
}

/* ----trabajamos con los iconos en el footer --*/

footer a{
    margin-top: 20px;
    color: fuchsia;
    letter-spacing: 15px;
    font-size: 40px;
}

/* ----- Finalizamos con la primer pagina HOME ---- */



/* ------ Iniciamos 2da Pagina Deportes ------*/


/* -- damos un fondo al h2 de Deportes - */
.logos{
    background-color:blue;
}

/* -- le damos un estilo al contenido tanto titilo como texto --*/
.derecha h3{
    text-align: center;
    font-size: 30px;
    color: springgreen;
    text-shadow: 0 0 3px red;
    margin-top: 20px;
}

.derecha p{
    text-align: center;
    color: #fff; 
}

.nadar{
    color: fuchsia;
}


/*------ le damos un min y un max al contenedor de la imagen y la hacemos responsive*/

#container{
    width: 70vw;
    max-width: 100%;
    min-width: 70%;
    margin: auto;
}
img{
    width: 100%;  
    border-radius: 15px;
}

/* --- retocamos las imagenes  -- */

#container img{
    height: 500px;
}

#container1 img{
    height: 500px;
}
#container2 img{
    height: 550px;
    background-size: contain;
}
#container3 img{
    height: 500px;
}
#container4 img{
    height: 500px;
}

/* media queries - de las imagenes para hacerlas responsive */ 

@media only screen and (max-width:330px){
    #container, #container1 , #container2, #container3, #container4 {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width:330px) and (max-width:575px) {
    #container, #container1 , #container2, #container3, #container4 {
        width: 70%;
        margin: auto;
        }
}




/* ------- carousel ----*/
.subtitulo{
    text-align: center;
    color: black;
    background-color: darkorange;
    text-decoration: none;
}
.carousel-item{
    height: 500px;
}
.carousel-item img{
    width:55%;
    height: 100%;
    background-size: contain;
    object-fit: cover;
    margin: auto;
}













